GOOGLE_SHEETS_SPREADSHEET_ID=1e-BwvxR5xz_aWPnVfSNW1PTAaAU-EXoNQvjFiwehCWg
GOOGLE_SHEETS_SHEET_NAME=Data
GOOGLE_SHEETS_RANGE=
GOOGLE_SHEETS_PLAN_SHEET_NAME=Plan aportaciones
GOOGLE_SHEETS_PLAN_RANGE='Plan aportaciones'!A:ZZ
GOOGLE_SERVICE_ACCOUNT_EMAIL=service-account@project-id.iam.gserviceaccount.com
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
